$color1: rgba(167, 167, 167, 1);
$color2: rgba(68, 68, 68, 1);
$color3: rgba(93, 217, 193, 1);
$color4: rgba(75, 198, 185, 1);
$color5: rgba(29, 52, 97, 1);

$primary-color: $color4 !default;
$secondary-color: $color5 !default;
@import "materialize";
/*####################################*/
body {
    background: lighten($color3, 30%) !important;
}

nav {
    height: 4em;
    margin-bottom: 2em;
}

body,
html {
    margin: 0;
    padding: 0;
}
.video {
    margin: 0 auto;
    width: 98vw;
    height: 30vh;
    overflow: hidden;
    border-radius: 3%;
}

.video video {
    position: relative;
    bottom: 500px;
    right: 0;
    border-radius: 3%;
}

.side-by-side {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.endorsements {
    width: 100vw;
    height: 20vh;
    background-color: rgb(68, 68, 68);
    color: rgb(167, 167, 167);
    margin-top: 1vh;
    box-shadow: 0 0 15px $color2;
}

.endorsements img {
    height: 13vh;
}

.example-cage {
    width: 25vw;
    height: 30vh;
    object-fit: contain;
    margin: 0 !important;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px lighten($color2, 30%);
}

.top {
    z-index: 100;
    position: relative;
    text-align: center;
    color: white;
}

.container-header {
    background-color: rgb(45, 45, 45);
    color: rgb(219, 219, 219);
}

video {
    z-index: 0;
}

.row {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    width: 100vw;
    margin-bottom: 0;
}
#messages{
  text-align: center;
  font-size: 1.5em;
  color: $color5;
  border: solid 3px $color4;
  margin: 2em;
  background-color: $color1;
}
.code-cage {
    height: 30vh;
}

.half {
    width: 40vw;
    margin: 0;
    display: inline;
}

.editor {
    height: 100%;
    display: inline-block;
}

iframe {
    border-radius: 10px;
    background-color: white;
}

.closer {
    padding: 0 5%;
    z-index: 2;
    padding-left: 10px;
    position: absolute;
    border-radius: 10px;
    background-color: $color3;
}

.desktop {
    height: 45vh;
    width: 80vh;
    margin: 0;
    position: relative;
}

.vertical-phone {
    display: inline-block;
    height: 45vh;
    width: 30vh;
    margin: 0 auto;
    position: relative;
    top: 0;
}

.preview {
    display: inline-block;
    overflow: none;
}

.horizontal-phone {
    display: inline-block;
    height: 30vh;
    width: 45vh;
    margin: 0 auto;
    position: relative;
    top: -40%;
}

.collapsible-body {
    height: 40vh;
}

.row:after {
    content: none;
}

.header-input {
    width: 250px !important;
    height: 30px !important;

}

input, textarea {
    text-align: center;
    color: $color1;
    border-radius: 5px !important;
    background-color: lighten($color3, 30%) !important;
}

textarea{
  background-color: lighten($color3, 30%) !important;
}

.btn{
  background-color: $color5;
}

#header {
    display: flex;
    justify-content: space-around;
}

.login-field {
    background: none;
    color: black;
    padding: 5px;
}

a.powered-by-firepad {
display: none;
}

.header-btn {
    height: 30px;
    line-height: 30px;
}

.low-margin {
    margin: 1vh;
}

.roomy {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.float-down {
    position: relative;
    top: 5vh;
}

.float-up {
    position: relative;
    bottom: 5vh;
}

.resizeable {
    overflow: scroll;
    resize: vertical;
}

.ace_content {
    height: 100%;
}

.slider .slides li img {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $color4;
}

.caption {
    background-color: rgba(93, 217, 193, .9);
}

.form-container {
  width: 80vw;
  max-width: 500px;
  background-color: lighten($color4, 30%);
  margin: 15px auto;
  padding: 15px;
  border-radius: 15px;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);

body {
  background-color: antiquewhite;
}

.card {
  background-color: #f4f4f4;
  width: 300px;
  margin: 10px auto;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}

.card-header {
  overflow: hidden;
  width: 100%;
}

.card-header img{
  width: 100%;
  height: auto;
}

.card-content {
  width: 85%;
  margin: 35px auto;
}

.card-content h3 {
  font-size: 25px;
  margin-bottom: 0;
  color: $color5;
  font-family: 'Montserrat', sans-serif;
}

.card-content h4 {
  font-size: 14px;
  margin-top: 0;
  color: $color4;
  font-family: 'Montserrat', sans-serif;
}

.card-content p {
  color: $color3;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;

}

.card-footer {
  border-top: solid 1px $color1;
  padding: 5px;
}

.card-footer ul {
  padding: 0;
  width: 90%;
  margin: auto;
  text-align: center;
}

.card-footer ul li{
  display: inline-block;
  list-style: none;
  margin: 5px;
}

.card-footer ul li i {
  font-size: 2em;
  color: $color5;
}

.justify{
  text-align: justify;
}

.flex-center{
  display: flex;
  align-content: center;
  justify-content: center;
}

.flex-center-self{
  display: flex;
  align-self: center;
}

/* The switch - the box around the slider */
.show-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.show-switch input {display:none;}

/* The slider */
.show-slider {
  height: 3em;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color1;
  -webkit-transition: .4s;
  transition: .4s;
}

.privacy-option{
  margin: 5px;
  color: $color1;
}

.show-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .show-slider {
  background-color: $color4;
}

input:focus + .show-slider {
  box-shadow: 0 0 1px $color4;
}

input:checked + .show-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
